## Exercises: Filter and query data

In [2]:
import pandas as pd
autos = pd.read_json("../Data/autos.json")
import numpy as np

**Use the "autos" dataset to answer the following questions:**

**Q1:** How many cars from Jaguar are in the dataset, and what is the price of the most expensive one?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;count=3
&nbsp;&nbsp;&nbsp;price=36000.0
</details>

In [3]:
# Extra träning (svar 2)

jaguar_cars = (autos["make"] == 'jaguar').sum()

most_expensive_car = autos[autos["make"] == 'jaguar'].sort_values(by = "price", ascending = False)["price"].head(1).iloc[0]

# For learning purpose, I'll brake it down:

list_only_jaguars = autos[autos["make"] == 'jaguar']         # Query, return dataframe with only jaguar values for make
sorted_by_price = list_only_jaguars.sort_values(by = "price", ascending = False)               # Sorting values of rows in the dataframe
filter_price_column = sorted_by_price["price"].head(1)        # Return a Series of only price column, maximum value
filtering_only_price = filter_price_column.iloc[0]            # Returning only price value from Series, otherwise index plus value

print(f"The amount of jaguar cars are {jaguar_cars} and the most expensive one costs {most_expensive_car} USD")
print(f"The amount of jaguar cars are {jaguar_cars} and the most expensive one costs {filtering_only_price} USD")

The amount of jaguar cars are 3 and the most expensive one costs 36000.0 USD
The amount of jaguar cars are 3 and the most expensive one costs 36000.0 USD

In [4]:
# autos[autos["make"] == "jaguar"]               # Filtrerar fram för att få alla jaguar
# autos.query("make == 'jaguar'")                # Filtrerar fram men med query

# autos[autos["make"] == "jaguar"].sort_values(by = ["price"], ascending = False)       # Sorterar i nedåtgående ordning på pris

jaguar_cars = (autos["make"] == "jaguar").sum()    # Här räknas summan ut via "boolean series" då sum() ej funkar på listan ovan
jaguar_cars

autos.query("make == 'jaguar'").sort_values(by = ["price"], ascending = False)        # Sorterar i nedåtgående ordning på pris via query

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
49,std,sedan,3.54,13,11.5,3950,rwd,front,326,ohcv,...,jaguar,NaN,twelve,two,5000.0,36000.0,2.76,0,102.0,70.6
48,std,sedan,3.63,15,8.1,4066,rwd,front,258,dohc,...,jaguar,NaN,six,four,4750.0,35550.0,4.17,0,113.0,69.6
47,std,sedan,3.63,15,8.1,4066,rwd,front,258,dohc,...,jaguar,145.0,six,four,4750.0,32250.0,4.17,0,113.0,69.6

**Q2:** How many cars from Toyota are in the dataset, and what is the price of the most expensive one?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;count=32
&nbsp;&nbsp;&nbsp;price=17669.0
</details>

In [5]:
# Extra träning (svar 2)

### Count of toyotas

toyota_cars = autos.query("make == 'toyota'")         # columns without special characters dont need quotes, values need quotes
toyota_cars.value_counts(["make"])                    # Counts the values in the make column. Returns Series. 
count_toyotas = toyota_cars.value_counts(["make"]).iloc[0]   # Variable to print out, in the other solutions I dont do this neither in print below
print(toyota_cars.value_counts(["make"]).iloc[0])     # Indexed to return only the value

# Other solution

toyota_cars2 = autos[autos["make"] == "toyota"]       # By other type of Query
toyota_cars2.value_counts("make")
print(toyota_cars2.value_counts("make").iloc[0])


# Other solution, counting the amount differently
bool_mask = autos["make"] == "toyota"    # Skapar boolean mask (index Series med värden för make som uppfyller villkor - False/True)
df_bool_mask = autos[bool_mask]          # Indexerar fram alla rader som har true i vårt dataframe från boolmasken, alltså alla toyota rader
toyota_cars3 = bool_mask.sum()           # Bool mask kan summeras för att få fram antalet värden av True = Antal toyota


### Most expensive price

most_expensive_toyota = toyota_cars.sort_values(by = "price", ascending=False)["price"].iloc[0]


# Final answer

print(f"There are {count_toyotas} toyota cars in the dataset, and the most expensive one costs {most_expensive_toyota} USD")

32
32
There are 32 toyota cars in the dataset, and the most expensive one costs 17669.0 USD

In [6]:
# First answer

toyota_cars = (autos["make"] == "toyota").sum()       # Sum of boolean indexing, True values giving the amount of Toyotas

autos.query("make == 'toyota'").sort_values(by = ["price"], ascending = False).head(1)   # Outputting the row with the highest price. Using Query.

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
172,std,convertible,3.62,24,9.3,2975,rwd,front,146,ohc,...,toyota,134.0,four,two,4800.0,17669.0,3.5,2,98.4,65.6

**Q3:** What is the length, width and height of the most expensive car in the entire dataset?

<details>
<summary>Answer</summary>
<br>&nbsp;&nbsp;&nbsp;length=199.2
&nbsp;&nbsp;&nbsp;width=72.0
&nbsp;&nbsp;&nbsp;height=55.4
</details>

In [7]:
# Extra träning (svar 2)

# Most expensive car in the dataset

most_expensive_car = autos.sort_values(by = "price", ascending=False)[["price", "length", "width", "height"]]

most_expensive_car


price = most_expensive_car.iloc[0,0] 
length = most_expensive_car.iloc[0,1] 
width = most_expensive_car.iloc[0,2] 
height = most_expensive_car.iloc[0,3] 


print(f"The most expensive car costs {price}, its length is {length}, width is {width} and height is {height}")


# Annother solution

most_expensive_car2 = autos.sort_values(by = "price", ascending=False).iloc[0]   # or head(1) BUT iloc[0] makes it possible to extract values directly in next step 
                                                                                 # without having to type iloc agan. 
                                                                                 # head(1) gives a dataframe(series if one column), iloc[0] gives first value. 

price2 = most_expensive_car2["price"]                      # Those create Pandas Series (one columns values with index), so we index with iloc to get only value
length2 = most_expensive_car2["length"]
width2 = most_expensive_car2["width"]
height2 = most_expensive_car2["height"]

print(f"The most expensive car costs {price2}, its length is {length2}, width is {width2} and height is {height2}")


# Fråga - Varför går det att skriva ut direkt utan iloc för parametrar och inte med head(1)
most_expensive_car3 = autos.sort_values(by = "price", ascending=False)["price"].head(1)
most_expensive_car4 = autos.sort_values(by = "price", ascending=False)["price"].iloc[0]
print(most_expensive_car3)   # series first row, still have to index it to get the value
print(most_expensive_car4)   # already indexed to get the value

The most expensive car costs 45400.0, its length is 199.2, width is 72.0 and height is 55.4
The most expensive car costs 45400.0, its length is 199.2, width is 72.0 and height is 55.4
74    45400.0
Name: price, dtype: float64
45400.0

In [8]:
# autos_sorted2 = autos.sort_values(by = ["price"], ascending = False).head(1)   # Med detta hade man kunnat direkt ta ut längt osv för denna variabel då vi enbart tar fram raden längst upp
autos_sorted = autos.sort_values(by = ["price"], ascending = False)

# Retrieve the first row (most expensive car)
most_expensive_car = autos_sorted.iloc[0]

# Extract the length, width, and height of the most expensive car
length = most_expensive_car["length"]
width = most_expensive_car["width"]
height = most_expensive_car["height"]


print("Length:", length)
print("Width:", width)
print("Height:", height)


# Om man vill skapa en dataframe med de tre värdena direkt

autos_sorted3 = autos.sort_values(by ="price", ascending = False)[["length", "width", "height"]]      # Här kan kolumnerna skrivas direkt på slutet, inget komma då vi inte filtrerar raderna med iloc/loc osv

autos_sorted3.head(1)


## Anledning till varför man inte ska ange autos_sorted3 = autos[autos[osv]]

# autos.sort_values(by="price", ascending=False): This part of the code sorts the DataFrame autos based on the "price" column in descending order and returns a new sorted DataFrame. Let's call this sorted DataFrame "autos_sorted."
# autos[autos_sorted[["length", "width", "height"]]]: In this part of the code, 
# you are trying to use "autos_sorted" as a boolean index to filter rows 
# from the original DataFrame "autos." However, this usage doesn't align with 
# how boolean indexing is typically done in pandas.

Length: 199.2
Width: 72.0
Height: 55.4

    length  width  height
74   199.2   72.0    55.4

**Q4:** What is the lowest price per horsepower in the dataset, and what brand ("make") is that car?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;price per horsepower=72.84
&nbsp;&nbsp;&nbsp;brand=Toyota
</details>

In [9]:
# Extra träning (svar 2)

 # Create new column "price_per_horsepower"

autos["price_per_horsepower"] = autos["price"]/autos["horsepower"]

sorted_values = autos.sort_values(by = "price_per_horsepower", ascending=False).iloc[0]

sorted_values[]

SyntaxError: invalid syntax (1255017661.py, line 9)

In [ ]:
autos.head()

autos[["horsepower", "price"]]     # Create a datafrmae with only horsepower and price. 
autos["horsepower"]                # Create a Series by only extracting the horsepower column, since it is done as a list within list (2D)
autos[["horsepower"]]              # Create a Dataframe by only extracting the horsepower column, since it is done as a list within list (2D)

autos["price_per_horsepower"] = autos["price"]/autos["horsepower"]     # all rows perform the operation

autos.sort_values(by = "price_per_horsepower").head(1)[["make", "price_per_horsepower"]]   # First the rows are sorted, then row at the top is chosen, then last part chooses the columns.

# autos.info()   # I see NaN values

# autos.loc[autos['price_per_horsepower'].isna(), ["price", "horsepower"]]   # Too see what columns made the NaN values. filter on rows with values NaN
# in price_per_horsepower column, and to see columns make and price because the row NaN values are based on values from these columns

# As above but sorting for one feature in the rows:
# autos[autos["make"] == "volvo"].sort_values(by = "price_per_horsepower")[["make", "price_per_horsepower"]]

# For info and education about filtering rows and columns
# autos.loc[autos['make'] == 'toyota', ['make', 'price_per_horsepower']]   # Left part of the comma is filtering the rows to include only those where make == toyota, 
                                                                         # and the right side of the comma selects the columns

**Q5:** How many of the cars in the dataset has as many cylinders as they have doors?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;cars=95
</details>

In [ ]:
# Extra träning (svar 2)

# Ha som tumregel att när du filterar på rader så har du kvar hela dataframet men bara de rader enligt kriteriet du filtrerar på.
cylinder_equal_doors = autos[autos["num-of-cylinders"] == autos["num-of-doors"]]

# When getting the sum, it can be done in several ways
# cylinder_equal_doors is a dataframe with all columns and only rows where cylinder = doors. 
# One way is to type cylinder_equal_doors.info() and see all entries, because each row is a car
# Annother way is to use value_counts and entering the column. If further want to have clean numeric, can index it(slice) with iloc
# or apply .sum() afterwards. This is easier since it sums all counts regardless brand etc.
# cylinder_equal_doors.value_counts(["num-of-cylinders"]).sum()


# It is also possible to create a boolean mask with the critera, and sum the True values directly:
(autos["num-of-cylinders"] == autos["num-of-doors"]).sum()
# cons - you dont have a dataframe with those values if you wish to further work with it.
# pros - straightforward if this is the only operation you want to do

95

In [ ]:
autos[autos["num-of-cylinders"] == autos["num-of-doors"]]      # Creates a dataframe filtering all rows of cylinders and doors are equal
                                                               # boolean indexing
# Till skilland från:
# autos["price"]    # här används column indexing
# Men i den första används ' boolean indexing' som returnerar false och true, 
# Sedan används dessa för att indexera original DataFrame, väljandes de rader med True/False

# autos[autos["num-of-cylinders"] == autos["num-of-doors"]].sum()   # Obs här appliceras sum på hela dataframet och ger tillbara series med summor

count_of_true_rows = (autos["num-of-cylinders"] == autos["num-of-doors"]).sum()    # måste assignas till en variabel om man vill få antal True

count_of_true_rows

95

**Use the "autos" dataset and write python code to solve the following tasks:**

**T1:** Print a string to inform the user of the price difference between the cheapest and the most expensive car in the dataset.

<details>
<summary>Solution</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>Example:</b><br>
&nbsp;&nbsp;&nbsp;The price difference between the cheapest and the most expensive car is 40282.0
</details>

In [ ]:
# Extra träning (svar 2)
# Compared to answer below, this one uses iloc[0] directly, better than head(1) since it returns 
cheapest_car = autos.sort_values(by = "price")["price"].iloc[0]      # Får tillbaka dataframe:t samma men sorterat på pris. Indexerar sedan detta på kolumn "price" och tar första värdet
most_expensive_car = autos.sort_values(by = "price", ascending=False)["price"].iloc[0]   

print(f"The difference between the most expensive and the cheapest car is {most_expensive_car- cheapest_car} USD")

The difference between the most expensive and the cheapest car is 40282.0 USD

In [ ]:
cheapest_car = autos.sort_values(by = "price").head(1)["price"]
most_expensive_car = autos.sort_values(by = "price", ascending = False).head(1)["price"]

# cheapest_car.iloc[0]    # Get the value in the series, otherwise number of index is also obtained and operation not possible
# cheapest_car = autos.sort_values(by = "price").head(1)["price"].iloc[0]    # This is also possible


print(f"The difference between the most expensive and the cheapest car is {most_expensive_car.iloc[0]- cheapest_car.iloc[0]} USD")

The difference between the most expensive and the cheapest car is 40282.0 USD

138    5118.0
Name: price, dtype: float64

**T2:** Ask the user to input a brand, then print the price range for that brand.

<details>
<summary>Solution</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>Example 1:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: volvo<br>
&nbsp;&nbsp;&nbsp;The prices for cars of brand 'volvo' ranges from 12940.0 to 22625.0<br>
<br>
&nbsp;&nbsp;&nbsp;<b>Example 2:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: toyota<br>
&nbsp;&nbsp;&nbsp;The prices for cars of brand 'toyota' ranges from 5348.0 to 17669.0<br>
<br>
&nbsp;&nbsp;&nbsp;<b>Example 3:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: tesla<br>
&nbsp;&nbsp;&nbsp;The brand 'tesla' does not exists in the dataset.<br>
</details>

In [14]:
# Extra träning (svar 2)
input_brand = input("Please input a brand: ").lower()

price_lower = autos[autos["make"] == input_brand].sort_values(by="price")["price"].iloc[0]                     # First query resulting in True/False Series, indexing the autos dataframe, getting all True rows in the autos dataframe. Then sort the values in the dataframe, and filtering on column Price - getting a Series with only price and indexing with iloc.
price_upper = autos[autos["make"] == input_brand].sort_values(by="price", ascending=False)["price"].iloc[0]

print(f"You entered the brand {input_brand}, it's price ranges between {price_lower} and {price_upper} USD")

You entered the brand volvo, it's price ranges between 12940.0 and 22625.0 USD

In [13]:
input_brand = input("Please input a brand: ").lower()

minimum_price = autos.query(f"make == '{input_brand}'").sort_values(by = "price").head(1)["price"]  # F strings due to the requrement of quotes in the query?
maximum_price = autos.query(f"make == '{input_brand}'").sort_values(by = "price", ascending = False).head(1)["price"]

print(f"You entered the brand {input_brand}, it's price ranges between {minimum_price.iloc[0]} and {maximum_price.iloc[0]} USD")

You entered the brand volvo, it's price ranges between 12940.0 and 22625.0 USD

**T3:** Ask the user to input a brand, then print the number of cars in the dataset for that brand, and all attributes for a random sample car of that brand.
<details>
<summary>Solution</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>Example:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: mazda<br>
&nbsp;&nbsp;&nbsp;There are 17 cars of brand 'mazda' in the dataset.<br><br>
&nbsp;&nbsp;&nbsp;Here is the data for a random 'mazda' car:<br>
&nbsp;&nbsp;&nbsp;aspiration = std<br>
&nbsp;&nbsp;&nbsp;body-style = sedan<br>
&nbsp;&nbsp;&nbsp;bore = 3.03<br>
&nbsp;&nbsp;&nbsp;city-mpg = 31<br>
&nbsp;&nbsp;&nbsp;compression-ratio = 9.0<br>
&nbsp;&nbsp;&nbsp;curb-weight = 1945<br>
&nbsp;&nbsp;&nbsp;drive-wheels = fwd<br>
&nbsp;&nbsp;&nbsp;engine-location = front<br>
&nbsp;&nbsp;&nbsp;engine-size = 91<br>
&nbsp;&nbsp;&nbsp;engine-type = ohc<br>
&nbsp;&nbsp;&nbsp;fuel-system = 2bbl<br>
&nbsp;&nbsp;&nbsp;fuel-type = gas<br>
&nbsp;&nbsp;&nbsp;height = 54.1<br>
&nbsp;&nbsp;&nbsp;highway-mpg = 38<br>
&nbsp;&nbsp;&nbsp;horsepower = 68.0<br>
&nbsp;&nbsp;&nbsp;length = 166.8<br>
&nbsp;&nbsp;&nbsp;make = mazda<br>
&nbsp;&nbsp;&nbsp;normalized-losses = 113.0<br>
&nbsp;&nbsp;&nbsp;num-of-cylinders = four<br>
&nbsp;&nbsp;&nbsp;num-of-doors = four<br>
&nbsp;&nbsp;&nbsp;peak-rpm = 5000.0<br>
&nbsp;&nbsp;&nbsp;price = 6695.0<br>
&nbsp;&nbsp;&nbsp;stroke = 3.15<br>
&nbsp;&nbsp;&nbsp;symboling = 1<br>
&nbsp;&nbsp;&nbsp;wheel-base = 93.1<br>
&nbsp;&nbsp;&nbsp;width = 64.2<br>
</details>

In [28]:
# Extra träning (svar 2)

input_brand = input("Please input a brand: ").lower()

number_of_cars = autos[autos["make"] == input_brand]

# Number of cars, several ways
len(number_of_cars)   # checking the amount of rows in the dataframe usin len method

number_of_cars.value_counts().sum()  #  or
number_of_cars.value_counts("make").iloc[0]  #  
number_of_cars["make"].value_counts().iloc[0]

11

In [ ]:
input_brand = input("Please input a brand: ").lower()

# amount_cars_df = autos[autos["make"] == 'volvo'].sum()                                   # Den här summerar allt i hela dataframe:t

amount_cars_boolean = (autos['make'] == input_brand).sum()                            # Den här summerar enbart True i boolean indexen                                            
random_sample = autos[autos["make"] == f"{input_brand}"].iloc[np.random.randint(0, amount_cars_boolean-1)]    # Indexerar mellan 0 och max antal bilar i det märket minus 1 för att få rätt indexerings intervall

print(f"You entered the brand {input_brand}. Here are specifications for a random sample of this brand from the dataset:\n{random_sample}")

**T4:** Ask the user to input a brand, then export all cars of that brand to a .csv file with the same name as the brand.

<details>
<summary>Solution</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>Example 1:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: volkswagen<br>
&nbsp;&nbsp;&nbsp;Exported 12 cars to 'volkswagen.csv'<br>
<br>
&nbsp;&nbsp;&nbsp;<b>Example 2:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: tesla<br>
&nbsp;&nbsp;&nbsp;The brand 'tesla' does not exists in the dataset.<br>
</details>

In [30]:
# Extra träning (svar 2)

input_brand = input("Please input a brand: ").lower()

input_brand_list = autos[autos["make"]== input_brand ]

input_brand_list.to_csv(f"..\\Data\\{input_brand}.csv", index = None)   # Index default är True, skriver radnummer,

In [ ]:
input_brand = input("Please input a brand: ").lower()    # Receiving the input value

input_list = autos[autos["make"] == f'{input_brand}']    # Filtering to have the rows with values equal to input_brand (query)

input_list.to_csv(f"..\\Data\\{input_brand}.csv", index = None)    # reading data to csv, the file is created since it doesnt exist one with that name