## Exercises: Modify the dataset

In [23]:
import pandas as pd
employees = pd.read_json("../Data/employees.json")

**Current state of the "employees" dataset**

Rerun the code block below after each modification you do, to see its current state.

In [57]:
employees

,Fullname,Email,Job title,Salary,Department
0,John Doe,John.Doe@mockcompany.com,Sales Director,1.320000e+05,Sales
1,Jane Smith,Jane.Smith@mockcompany.com,HR Coordinator,6.600000e+04,Human Resources
2,Michael Johnson,Michael.Johnson@mockcompany.com,Software Engineer,1.210000e+05,IT
3,Sarah Williams,Sarah.Williams@mockcompany.com,Marketing Specialist,8.250000e+04,Sales
4,David Brown,David.Brown@mockcompany.com,HR Manager,9.900000e+04,Human Resources
5,Emily Davis,Emily.Davis@mockcompany.com,IT Support Specialist,6.050000e+04,IT
6,Jacob Wilson,Jacob.Wilson@mockcompany.com,Sales Representative,8.800000e+04,Sales
7,Olivia Moore,Olivia.Moore@mockcompany.com,Marketing Manager,1.100000e+05,Sales
8,Ethan Lee,Ethan.Lee@mockcompany.com,Financial Analyst,9.350000e+04,Sales
9,Mr Engineer,Mr.Engineer@mockcompany.com,Software Engineer,1.200000e+05,IT
10,Younis Moussavi,Younis.Moussavi@mockcompany.com,NaN,1.200000e+05,IT
11,Mohammad Moussavi,Mohammad.Moussavi@mockcompany.com,Software Engineer,5.000000e+04,IT
12,Shahlaa Bnayya,Shahlaa.Bnayya@mockcompany.com,Software Engineer,2.000000e+05,IT
13,Al Najjar,Al.Najjar@mockcompany.com,Software Engineer,1.200000e+09,IT

**Do the following operations on the "employees" dataset:**

**OP1:** Create a new column "name" which contains the full name (eg. "John Doe") for each employee.

<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>name</b><br>
&nbsp;&nbsp;&nbsp;John Doe<br>
&nbsp;&nbsp;&nbsp;Jane Smith<br>
&nbsp;&nbsp;&nbsp;Michael Johnson<br>
&nbsp;&nbsp;&nbsp;...<br>
</details>

In [25]:
employees["Full_name"] = employees["first_name"] + " " + employees["last_name"]

<div style="display: inline">
<b>OP2:</b> Create a new column "email" with the following format: firstname.lastname@mockcompany.com
</div><br>

*Note: email addresses should be all lower case.*

<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>email</b><br>
&nbsp;&nbsp;&nbsp;john.doe@mockcompany.com<br>
&nbsp;&nbsp;&nbsp;jane.smith@mockcompany.com<br>
&nbsp;&nbsp;&nbsp;michael.johnson@mockcompany.com<br>
&nbsp;&nbsp;&nbsp;...<br>
</details>

In [26]:
employees["email"] = employees["first_name"] + "." + employees["last_name"] + "@mockcompany.com"

**OP3:** Remove the columns "first_name" and "last_name", and put the columns "name" and "email" first.
<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>name&nbsp;&nbsp;&nbsp;email&nbsp;&nbsp;&nbsp;job_title&nbsp;&nbsp;&nbsp;salary&nbsp;&nbsp;&nbsp;department</b>
</details>

In [27]:
# employees.drop(columns=["first_name", "last_name"], inplace = True)      # Removing columns 
# employees.columns      # I made this to get a list of the columns to not have to type evertyhing, then just reordering them

new_order = ['Full_name', 'email', 'job_title', 'salary', 'department']

employees = employees[new_order]

**OP4:** Update column titles to make the first letter in each title upper case. Also replace the underscore character in "job_title" with a space.
<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>Name&nbsp;&nbsp;&nbsp;Email&nbsp;&nbsp;&nbsp;Job title&nbsp;&nbsp;&nbsp;Salary&nbsp;&nbsp;&nbsp;Department</b>
</details>

In [34]:
new_names = {'Full_name': 'Fullname', 'email': 'Email', 'job_title': 'Job title', 'salary': 'Salary', 'department': 'Department'}

# employees.rename(columns = new_names, inplace = True)      # This gave error as below (next code box), so solution was instead:

employees = employees.rename(columns = new_names)

**OP5:** Change the data type of column "Salary" to float64.
<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;Salary: int64 => float64
</details>

In [33]:
employees.loc[:,"Salary"] = employees["Salary"].astype("float64")   

# employees["Salary"] = employees["Salary"].astype("float64")         # This one gave some error: 
                                                                      # The "SettingWithCopyWarning" you're encountering is not directly related to the
                                                                      # rename method you're using but is 
                                                                      # a general warning about how you are accessing the DataFrame. 
                                                                      # It typically occurs when you're working with a view or a copy of the DataFrame 
                                                                      # instead of the original DataFrame.

**OP6:** The company decided to give everyone in sales a 10% salary increase. Update the dataset accordingly.

<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;John Doe&nbsp;&nbsp;&nbsp;132000.0<br>
&nbsp;&nbsp;&nbsp;Jane Smith&nbsp;&nbsp;&nbsp;60000.0<br>
&nbsp;&nbsp;&nbsp;Michael Johnson&nbsp;&nbsp;&nbsp;110000.0	<br>
&nbsp;&nbsp;&nbsp;Sarah Williams&nbsp;&nbsp;&nbsp;82500.0<br>
&nbsp;&nbsp;&nbsp;...<br>
</details>

In [36]:
employees["Salary"] = employees["Salary"] * 1.1

**OP7:** The company hired a new software engineer. Add a new row with appropriate values to the dataset.
<details>
<summary>Result</summary>
<br>
<b>Example:</b><br>
&nbsp;&nbsp;&nbsp;<b>Name:</b> Jennifer Lee<br>
&nbsp;&nbsp;&nbsp;<b>Email:</b> jennifer.lee@mockcompany.com<br>
&nbsp;&nbsp;&nbsp;<b>Job title:</b> Software Engineer<br>
&nbsp;&nbsp;&nbsp;<b>Salary:</b> 100.000<br>
&nbsp;&nbsp;&nbsp;<b>Department:</b> IT<br>
</details>

In [40]:
employees.loc[10,:] = ["Mr Engineer", "Mr.Engineer@mockcompany.com", "Software Engineer", 120000, "IT"]

**OP8:** The company decided to hire a lot of new software engineers.

Create python code that asks the user to input the name and salary of the new software engineer, and then automatically adds the new employee to the dataset. Also, ensure that each employee get a unique index in the dataset.

<details>
<summary>Result</summary>
<br>
<b>Example:</b><br>
&nbsp;&nbsp;&nbsp;Input name of new software engineer: Daniel Brown<br>
&nbsp;&nbsp;&nbsp;Input the salary for Daniel Brown: 95.000<br>
<br>
&nbsp;&nbsp;&nbsp;<b>Name:</b> Daniel Brown<br>
&nbsp;&nbsp;&nbsp;<b>Email:</b> daniel.brown@mockcompany.com<br>
&nbsp;&nbsp;&nbsp;<b>Job title:</b> Software Engineer<br>
&nbsp;&nbsp;&nbsp;<b>Salary:</b> 95.000<br>
&nbsp;&nbsp;&nbsp;<b>Department:</b> IT<br>
</details>

In [56]:
# Ask the user to input the name and salary for the new software engineer

name = input("Enter the first and last name of the new software engineer: ")
salary = float(input("Enter the salary of the new software engineer: "))
list_names = name.split(" ")

new_index = len(employees) + 1

# Create a dictionary with the new employee's information
new_employee = {
    "Fullname": name,
    "Email": list_names[0] + "." + list_names[1] + "@mockcompany.com",
    "Job title": "Software Engineer",
    "Salary": salary,
    "Department": "IT"
}

new_employee_df = pd.DataFrame(new_employee, index = [0])

# Add the new employee to the dataset
employees = pd.concat([employees, new_employee_df], ignore_index=True)

**OP9:** Olivia Moore quits her job. Remove her data from the dataset.

In [54]:
employees = employees.drop(9)

**OP10**: Make sure that the python script in *OP8* still gives a unique index to each new employee, even after removing rows.

### Final note:
Just to be clear, a real company would most likely store their employee data in a database, and loading them into a pandas dataframe to do these kind of operations wouldn't make much sense. The above examples are purely for learning the different operations of pandas.