# Pandas  

Två datastrukturer i princip i pandas:  
   - Series
   - Dataframe
   - Pandas bygger mkt på numpys, finns likheter, och därmed t.ex. inget behov av att loopa

In [18]:
import pandas as pd   # pd är standard att importera det som

## Series
- Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.

In [19]:
fruits = ["apple", "pear", "orange", "melon", "kiwi"]                # Lista i python
fruits_pd = pd.Series(["apple", "pear", "orange", "melon", "kiwi"])  # Motsvarande "Series" i pandas

print(fruits)
print()
print(fruits_pd)   # får utskrift med index och dtype på slutet

['apple', 'pear', 'orange', 'melon', 'kiwi']

0     apple
1      pear
2    orange
3     melon
4      kiwi
dtype: object

In [20]:
# Denna pandas serie har metoder som kan användas på dom. 
# T.ex. metoden "apply" 

fruits_pd.apply(str.upper)

0     APPLE
1      PEAR
2    ORANGE
3     MELON
4      KIWI
dtype: object

In [21]:
# Påvisa hur indexering och slicing funkar
fruits_pd = pd.Series(["apple", "pear", "orange", "melon", "kiwi"]) 

type(fruits_pd[:2])     # pandas series, för man får med serien fram till index 2 (exklusivt)
type(fruits_pd[2])      # str (här plockar man ut själva objektet i Serien, som i sig är en sträng)

str

In [22]:
# Sätta egna index går att göra

fruits_pd = pd.Series(["apple", "pear", "orange", "melon", "kiwi"], index = [1, 2, 3, 4, "fem"])  # man brukar dock inte blanda dtyper såhär, bara för att visa

# index här behöver dock inte vara unika till skillnad från dic.
# Det vanliga är att inte skicka med index - man låter default index ligga.

# liksom dictionary kan man ange index såsom nycklar anges för att hitta värde i dictionary
fruits_pd[3]

'orange'

In [23]:
# Beräkningar kan göras direkt som i numpy på hela serien. 
numbers = pd.Series([5, 6, 3])
print(numbers *2+1)

0    11
1    13
2     7
dtype: int64

In [24]:
# Hela datatypen finns för hela objektet, en datatyp per serie. 
# När det finns en sträng bland int/floats så skrivs dtype object ut, men ändå multiplicering blir baserat på olika dtypes.
# Man vill dock ha en datatyp per kolumn (se pandas dtypes för mer info.)

numbers = pd.Series([5, 6, 3])
print(numbers *2)

numbers_wstring = pd.Series([5, "6str", 3])
print(numbers_wstring *2)

0    10
1    12
2     6
dtype: int64
0          10
1    6str6str
2           6
dtype: object

In [25]:
# Man kan utifrån bool välja att få ut(True) och utelämna(False) objekt från Serien.
fruits_pd[[True, True, False, False, False]]

# Men man brukar dock inte göra så som ovan, men istället använder något sånt:
numbers >= 5        # Ger en ny serie med bool värden baserat på om de uppfyller detta eller inte

0     True
1     True
2    False
dtype: bool

In [26]:
mask = numbers >= 5           # Här gör man samma sak men refererar ett variabelnamn då till denna serie: : skapar en s.k. "Bool mask"
type(mask)                    # Man ser att variabel då pekar på ett pandas series objekt

pandas.core.series.Series

In [39]:
# Här filtrerar man fram de värden som uppfyller boolean kriteriet, utifrån denna bool mask 
numbers[mask]   # Eftersom mask i sig är en pd dataseries av bool mask, så kan den anges så här direkt i indexering
                # Man får då tillbaka de värden som är på index True, och inte de som har index False
# numbers[pd.Series([True, True, False])]   # Det är egentligen detta man skickar in och får de tillbaka förstå 2 värden
                                            # Men index är ett Panda Series element som skapas med de värdena  
# Hade funkar att skapa variable = [True, True, False] och skriva numbers[variable]
# Men inte numbers[True,True,False], för då tolkar python detta som en tuple och inte en iterable 
# Däremot om det skrivs numbers[[True,True,False]] så går det eftersom det är en iterable (lista)

numbers[numbers>=5]   # Går också att indexera direkt med uttrycket

0    5
1    6
dtype: int64

## Dataframe
- (lagra data i tabellform)
- DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

In [28]:
data = {                                 # Två key value pairs där keys motsvarar kolumner som har värden.
    "Name": ["Anders", "Tomas", "Mario"],
    "Age": [42, 46, 36]
}

# Skickas en sådan här i pandas för att få ut som Dataframe så gör det såhär:

df = pd.DataFrame(data)    # Skapar en instans av en sådan DataFrame klass, där dictionary skickas in som argument.

df                         # Utskriften blir kolumner med värden, indexerade

     Name  Age
0  Anders   42
1   Tomas   46
2   Mario   36

In [29]:
# Oavsett om man gör instans via ovan dictionary eller på detta sätt nedan via 
# dictionary i lista så får man samma DataFrame:

data = [
    {"Name": "Anders", "Age":42},
    {"Name": "Tomas", "Age":46},
    {"Name": "Mario", "Age":36}
]

df = pd.DataFrame(data)    # Skapar en instans av en sådan DataFrame klass
df

# De representeras av många olika series objekt i sin tur: tänk varje horisontell kolumn som en series objekt

     Name  Age
0  Anders   42
1   Tomas   46
2   Mario   36

In [30]:
# Här visas hur man får ut enskilda series utifrån ovan

print(df["Name"])       
print(df["Age"])    # Notera olika dtype när man skriver ut dessa två

0    Anders
1     Tomas
2     Mario
Name: Name, dtype: object
0    42
1    46
2    36
Name: Age, dtype: int64

In [31]:
# Eftersom den blir en series så kan samma operationer göras

print(df["Age"]  + 1)

# DataFrame:t i sig uppdateras dock inte, då det bara görs en operation ovan i ovan uttryck.
print(df)

0    43
1    47
2    37
Name: Age, dtype: int64
     Name  Age
0  Anders   42
1   Tomas   46
2   Mario   36

In [36]:
# Här uppdateras dock dataframe, eftersom vi sätter det gamla likamed operationen
# Varje gång man kör programmet adderas 1 till varje objekt i 
# serien och ersätter samma serie i dataframe som också ändras

df["Age"] = df["Age"]  + 1

print(df)

     Name  Age
0  Anders   47
1   Tomas   51
2   Mario   41

In [50]:
# Här görs en operation för att få en bool-mask för de värden i serien som uppfyller villkoret
df["Age"] >= 50

0    False
1    False
2    False
Name: Age, dtype: bool

In [40]:
# Indexerar med bool-mask för att filtrera fram och få de värden vi sätter i villkoret

df[df["Age"] >= 50]

    Name  Age
1  Tomas   51

In [41]:
# Utskrift av en df:
# Skrivs ut som ren sträng MEN när print används så görs den om till sträng så blir det newline som läses in.
str(df)

'     Name  Age\n0  Anders   47\n1   Tomas   51\n2   Mario   41'

In [44]:
# Här ser man att print läser in och exekverar newlines ,till skillnad från rena sträng utskriften ovan
print(df)

     Name  Age
0  Anders   47
1   Tomas   51
2   Mario   41

In [ ]:
# Övrigt:
    # När jupyter får något så presenteras det utifrån dess datatyp, typ:
    # att skriva enbart df ger viss bild med kolumn o rader, då den tolkas som pandas serietyp
    # men str(df) ger enbart sträng då den tolkas som strängtyp
    # osv..