## Loc, iloc and []
Panda supports three types of multi-axis indexing for object selection. 

Indexing och slicing mot pandas dataframes.

Tre möjligheter här:
- **loc** is a method for label based indexing. 
- **iloc** is a method for integer position based indexing. 
- **[colnamn]** returns the column as a pandas Series object. 

When slicing, the upper bound is including for loc, exluding for iloc

In [56]:
import pandas as pd

# Creating a two dimensional list with values for the examples

column_values = [f"Column{i}" for i in range(1,5)]      # Creating for columns, column 1 - 4
index_values = [chr(i) for i in range(65, 72)]          # Creating the rows A - G
                                                        # chr - omvandlar till unicode, och range 65-72 är index för A - G
print(column_values)
print(index_values)

# Creating a dataframe with pandas, with A1-A4, B1-B4 etc for each row). Alltså skapadne av 2D grid

df = pd.DataFrame([[f"{ind}{col}" for col in range(1,5)] for ind in index_values], index = index_values, columns = column_values)

df

['Column1', 'Column2', 'Column3', 'Column4']
['A', 'B', 'C', 'D', 'E', 'F', 'G']

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

In [13]:
# Using no slices, returns the value of a single cell   (i står för index)
df.iloc      [1,0]                   # Skickar in radnummer och kolumnummer, börjar med index 0, här är det rad 2(B) och kolumn 1
# df.iloc    [1,-1]          
# df.iloc    [-1,-1] 

# using slice on one axis return a pandas Series objekt
df.iloc[1,:]     # Full row 1 (B) ta alla kolumner men rad 1
df.iloc[:, 0]    # Full column 0 (Column1) ta alla rader men kolumn 0

df.iloc[:3, 1]      # Enbart 3 första raderna (cells) a för kolumn 1
# Pandas Series objekt alltid, men skilland skriva df.iloc[1] då sträng???

A    A2
B    B2
C    C2
Name: Column2, dtype: object

In [31]:
# Using slice on both axis return a panda Dataframe objekt

df.iloc[:2, :2]      # returns the four cells in the upper left corner

df.iloc[2:6, 1:3]    # Se alltid delen till vänster som raderna och den till höger som kolumnerna. Returns col 2-3 and rows C-F

df.iloc[:,:]         # Alla rader och alla kolumner, Returns a copy of dataframe
df.iloc[::2,:]         # Alla rader och alla kolumner, varannan

# Eftersom det är ett dataframe, kan metoderna vi gått igenom användas på dem:
# df.iloc[2:6, 1:3].head(2)
# df.iloc[2:6, 1:3].info()

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

In [19]:
df.loc["B", "Column1"]                # Vill jag ha ut samma så är label B på raden och column1 på kolumnen

# using slice on one axis return a pandas Series objekt
df.loc["B",:]     # Full row 1 (B) ta alla kolumner men rad 1
df.loc[:, "Column1"]    # Full Column1 ta alla rader men kolumn1

df.loc[:"C", "Column2"]      # Enbart 3 första raderna (till C) för kolumn 2. Här är stopp inklusiv, t.o.m. C,
                             # Till skillnad från iloc som kör på index och där är det från 0

A    A2
B    B2
C    C2
Name: Column2, dtype: object

In [41]:
# Lists can be used instead of slices for either axis

df.iloc[[0,3,5], [1,3]]

  Column2 Column4
A      A2      A4
D      D2      D4
F      F2      F4

In [40]:
# Using slice on both axis return a panda Dataframe objekt
# Using loc instead - difference is using labels and inclusive in the stopp (end)
df.loc[:"B", :"Column2"]      # returns the four cells in the upper left corner

df.loc["C":"F", "Column2":"Column3"]    # Se alltid delen till vänster som raderna och den till höger som kolumnerna. Returns col 2-3 and rows C-F

# df.loc[:,:]         # Alla rader och alla kolumner, Returns a copy of dataframe
# df.loc[::2,:]

  Column2 Column3
C      C2      C3
D      D2      D3
E      E2      E3
F      F2      F3

In [44]:
# Lists can be used instead of slices for either axis

df.loc[["A","D","F"], ["Column2","Column4"]]

  Column2 Column4
A      A2      A4
D      D2      D4
F      F2      F4

In [53]:
# Tredje sätt att skriva indexering direkt på Dataframe
# df[colname] returns a column as a pandas Series object
# Only possible to slice columns using this. 
df["Column2"]      # En kolumn och får ut Series object

# df[[list of colnames]] returns a new dataframe with the given columns
# Returns a Dataframe object
df[["Column1", "Column4", "Column3", "Column1"]] 

#series[index] returns a scalar value
df["Column2"]["D"]   

#dataframe[index] returns a column'
# Indexing a dataframe with a list (of columns) returns a dataframe
# so indexing again would be on the new dataframe (but dont do this)
df[["Column1", "Column4", "Column3", "Column1"]]["Column3"]

A    A3
B    B3
C    C3
D    D3
E    E3
F    F3
G    G3
Name: Column3, dtype: object