In [53]:
# Andel avlidna, andel fall och andel vaccin per land. Finns trender här istället där skillanderna är större?
# https://covid19.who.int/data - källa till data

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import plotly_express as px

In [3]:
# Andel avlidna och andel fall.
# Import data

world_covid_data = pd.read_csv("visualiseringar\\WHO-covid-19.csv")

In [56]:
# world_covid_data.tail()
# # only keep dates between 2020-02-03 and 2022-10-23 in world_covid_data
# world_covid_data = world_covid_data[(world_covid_data['Date_reported'] >= '2020-02-03') & (world_covid_data['Date_reported'] <= '2022-10-23')]

# To many values dissapeared when I did this filtering so I am commenting it out for now.

In [15]:
world_covid_data.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [20]:
# Groupby all cases and all deaths per country
all_cases = world_covid_data.groupby('Country', as_index=False).agg(
    sum_cases = pd.NamedAgg('New_cases', aggfunc='sum'),
    sum_deaths = pd.NamedAgg('New_deaths', aggfunc='sum'))

In [21]:
all_cases.head()

          Country  sum_cases  sum_deaths
0     Afghanistan     227885        7956
1         Albania     334090        3604
2         Algeria     271958        6881
3  American Samoa       8359          34
4         Andorra      48015         159

In [22]:
# Addera kolumn med andel avlidna per fall
all_cases['Andel avlidna/fall'] = all_cases['sum_deaths']/all_cases['sum_cases']

In [23]:
# Läsa in filen WHO-vaccin.csv
world_vaccin_data = pd.read_csv("visualiseringar\\WHO-vaccin.csv")

In [24]:
world_vaccin_data.head()

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Algeria,DZA,AFRO,REPORTING,2022-09-04,15267442.0,7840131,34.817,17.879,6481186,14.780,NaN,2021-01-30,4.0,575651.0,1.313
1,Angola,AGO,AFRO,REPORTING,2023-10-22,27639026.0,16490814,84.095,50.175,9574047,29.130,NaN,2021-03-10,1.0,2985931.0,9.085
2,Armenia,ARM,EURO,REPORTING,2023-10-01,2256919.0,1150915,76.200,41.237,1030758,36.932,NaN,2021-01-27,10.0,81354.0,2.915
3,Aruba,ABW,AMRO,REPORTING,2023-06-02,216974.0,90449,203.224,84.717,84297,78.955,NaN,2021-02-17,2.0,35659.0,33.399
4,Brazil,BRA,AMRO,REPORTING,2023-06-02,513329718.0,188746389,241.499,88.797,171459392,80.664,NaN,2021-01-17,5.0,110382337.0,51.930

In [63]:
# # Only include data before 2022-10-23 in world_vaccin_data
# To many values dissapeared when I did this, so I commented it out.
# world_vaccin_data = world_vaccin_data[(world_vaccin_data['DATE_UPDATED'] <= '2022-10-23')]

In [25]:
world_vaccin_data.head()
# PERSON_BOOSTER_ADD_DOSE_PER100 is the cumulative amount receiving one or more booster doses per 100 population

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Algeria,DZA,AFRO,REPORTING,2022-09-04,15267442.0,7840131,34.817,17.879,6481186,14.780,NaN,2021-01-30,4.0,575651.0,1.313
1,Angola,AGO,AFRO,REPORTING,2023-10-22,27639026.0,16490814,84.095,50.175,9574047,29.130,NaN,2021-03-10,1.0,2985931.0,9.085
2,Armenia,ARM,EURO,REPORTING,2023-10-01,2256919.0,1150915,76.200,41.237,1030758,36.932,NaN,2021-01-27,10.0,81354.0,2.915
3,Aruba,ABW,AMRO,REPORTING,2023-06-02,216974.0,90449,203.224,84.717,84297,78.955,NaN,2021-02-17,2.0,35659.0,33.399
4,Brazil,BRA,AMRO,REPORTING,2023-06-02,513329718.0,188746389,241.499,88.797,171459392,80.664,NaN,2021-01-17,5.0,110382337.0,51.930

In [26]:
# Adding new column for total population count based on PERSONS_BOOSTER_ADD_DOSE and PERSONS_BOOSTER_ADD_DOSE_PER100
world_vaccin_data['Total population'] = world_vaccin_data['PERSONS_BOOSTER_ADD_DOSE']/world_vaccin_data['PERSONS_BOOSTER_ADD_DOSE_PER100']*100

In [27]:
world_vaccin_data.head()

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100,Total population
0,Algeria,DZA,AFRO,REPORTING,2022-09-04,15267442.0,7840131,34.817,17.879,6481186,14.780,NaN,2021-01-30,4.0,575651.0,1.313,4.384242e+07
1,Angola,AGO,AFRO,REPORTING,2023-10-22,27639026.0,16490814,84.095,50.175,9574047,29.130,NaN,2021-03-10,1.0,2985931.0,9.085,3.286660e+07
2,Armenia,ARM,EURO,REPORTING,2023-10-01,2256919.0,1150915,76.200,41.237,1030758,36.932,NaN,2021-01-27,10.0,81354.0,2.915,2.790875e+06
3,Aruba,ABW,AMRO,REPORTING,2023-06-02,216974.0,90449,203.224,84.717,84297,78.955,NaN,2021-02-17,2.0,35659.0,33.399,1.067667e+05
4,Brazil,BRA,AMRO,REPORTING,2023-06-02,513329718.0,188746389,241.499,88.797,171459392,80.664,NaN,2021-01-17,5.0,110382337.0,51.930,2.125599e+08

In [29]:
# Groupby PERSONS_BOOSTER_ADD_DOSE by country using max values
world_vaccin_data_grouped = world_vaccin_data.groupby('COUNTRY', as_index=False).agg(
    sum_vaccin = pd.NamedAgg('PERSONS_BOOSTER_ADD_DOSE', aggfunc='max'),
    sum_pop = pd.NamedAgg('Total population', aggfunc='max'))

In [30]:
world_vaccin_data_grouped.head()

          COUNTRY  sum_vaccin       sum_pop
0     Afghanistan   2481042.0  3.893052e+07
1         Albania    402371.0  2.854707e+06
2         Algeria    575651.0  4.384242e+07
3  American Samoa     24160.0  5.519762e+04
4         Andorra     43071.0  7.903371e+04

In [31]:
# Adding a new column with the percentage of vaccinated people
world_vaccin_data_grouped['Andel vaccinerade'] = world_vaccin_data_grouped['sum_vaccin']/world_vaccin_data_grouped['sum_pop']

In [32]:
world_vaccin_data_grouped.head()

          COUNTRY  sum_vaccin       sum_pop  Andel vaccinerade
0     Afghanistan   2481042.0  3.893052e+07            0.06373
1         Albania    402371.0  2.854707e+06            0.14095
2         Algeria    575651.0  4.384242e+07            0.01313
3  American Samoa     24160.0  5.519762e+04            0.43770
4         Andorra     43071.0  7.903371e+04            0.54497

In [33]:
# Merge all_cases and world_vaccin_data_grouped
merged_data = pd.merge(all_cases, world_vaccin_data_grouped, left_on='Country', right_on='COUNTRY')

In [34]:
merged_data.head()

,Country,sum_cases,sum_deaths,Andel avlidna/fall,COUNTRY,sum_vaccin,sum_pop,Andel vaccinerade
0,Afghanistan,227885,7956,0.034912,Afghanistan,2481042.0,3.893052e+07,0.06373
1,Albania,334090,3604,0.010788,Albania,402371.0,2.854707e+06,0.14095
2,Algeria,271958,6881,0.025302,Algeria,575651.0,4.384242e+07,0.01313
3,American Samoa,8359,34,0.004067,American Samoa,24160.0,5.519762e+04,0.43770
4,Andorra,48015,159,0.003311,Andorra,43071.0,7.903371e+04,0.54497

In [35]:
# Drop one of the duplicate country columns
merged_data = merged_data.drop(columns=['COUNTRY'])

In [36]:
# Making the country column an index
merged_data = merged_data.set_index('Country')

In [40]:
# Correlation analysis of merged_data
correlation_matrix = merged_data.corr().abs()

In [38]:
# Setting threshold at 0.85 and marking the values above that as bold
threshold = 0.85
correlation_matrix.style.map(lambda x: "font-weight: bold" if x > threshold else "")  # Han gör stylingen utan att gå in närmare på det

In [41]:
#Adding latitude and longitude to merged_data from country_coordinates.csv
country_coordinates = pd.read_csv("visualiseringar\\country_coordinates.csv")

country_coordinates.head()

,country_code,latitude,longitude,country,usa_state_code,usa_state_latitude,usa_state_longitude,usa_state
0,AD,42.546245,1.601554,Andorra,AK,63.588753,-154.493062,Alaska
1,AE,23.424076,53.847818,United Arab Emirates,AL,32.318231,-86.902298,Alabama
2,AF,33.939110,67.709953,Afghanistan,AR,35.201050,-91.831833,Arkansas
3,AG,17.060816,-61.796428,Antigua and Barbuda,AZ,34.048928,-111.093731,Arizona
4,AI,18.220554,-63.068615,Anguilla,CA,36.778261,-119.417932,California

In [42]:
# Adding latitude and longitude to merged_data
merged_data_2 = pd.merge(merged_data, country_coordinates, left_on='Country', right_on='country')

In [45]:
merged_data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sum_cases            193 non-null    int64
 1   sum_deaths           193 non-null    int64
 2   Andel avlidna/fall   192 non-null    float64
 3   sum_vaccin           184 non-null    float64
 4   sum_pop              182 non-null    float64
 5   Andel vaccinerade    182 non-null    float64
 6   country_code         192 non-null    object
 7   latitude             193 non-null    float64
 8   longitude            193 non-null    float64
 9   country              193 non-null    object
 10  usa_state_code       41 non-null     object
 11  usa_state_latitude   41 non-null     float64
 12  usa_state_longitude  41 non-null     float64
 13  usa_state            41 non-null     object
dtypes: float64(8), int64(2), object(4)
memory usage: 21.2+ KB