In [2]:
# Andel avlidna, andel fall och andel vaccin per land. Finns trender här istället där skillanderna är större?
# https://covid19.who.int/data - källa till data

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import plotly_express as px

In [4]:
# Andel avlidna och andel fall.
# Import data

world_covid_data = pd.read_csv("visualiseringar\\WHO-covid-19.csv")

In [5]:
world_covid_data.tail()
# only keep dates between 2020-02-03 and 2022-10-23 in world_covid_data
world_covid_data = world_covid_data[(world_covid_data['Date_reported'] >= '2020-02-03') & (world_covid_data['Date_reported'] <= '2022-10-23')]

In [8]:
world_covid_data.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
31,2020-02-03,AF,Afghanistan,EMRO,0,0,0,0
32,2020-02-04,AF,Afghanistan,EMRO,0,0,0,0
33,2020-02-05,AF,Afghanistan,EMRO,0,0,0,0
34,2020-02-06,AF,Afghanistan,EMRO,0,0,0,0
35,2020-02-07,AF,Afghanistan,EMRO,0,0,0,0

In [18]:
# Groupby all cases and all deaths per country
all_cases = world_covid_data.groupby('Country', as_index=False).agg(
    sum_cases = pd.NamedAgg('New_cases', aggfunc='sum'),
    sum_deaths = pd.NamedAgg('New_deaths', aggfunc='sum'))

In [21]:
all_cases.head()

          Country  sum_cases  sum_deaths  Andel avlidna/fall
0     Afghanistan     202029        7818            0.038697
1         Albania     331593        3592            0.010833
2         Algeria     270777        6881            0.025412
3  American Samoa       8253          34            0.004120
4         Andorra      46449         155            0.003337

In [20]:
# Addera kolumn med andel avlidna per fall
all_cases['Andel avlidna/fall'] = all_cases['sum_deaths']/all_cases['sum_cases']

In [22]:
# Läsa in filen WHO-vaccin.csv
world_vaccin_data = pd.read_csv("visualiseringar\\WHO-vaccin.csv")

In [24]:
world_vaccin_data.head()

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Algeria,DZA,AFRO,REPORTING,2022-09-04,15267442.0,7840131,34.817,17.879,6481186,14.780,NaN,2021-01-30,4.0,575651.0,1.313
1,Angola,AGO,AFRO,REPORTING,2023-10-22,27639026.0,16490814,84.095,50.175,9574047,29.130,NaN,2021-03-10,1.0,2985931.0,9.085
2,Armenia,ARM,EURO,REPORTING,2023-10-01,2256919.0,1150915,76.200,41.237,1030758,36.932,NaN,2021-01-27,10.0,81354.0,2.915
3,Aruba,ABW,AMRO,REPORTING,2023-06-02,216974.0,90449,203.224,84.717,84297,78.955,NaN,2021-02-17,2.0,35659.0,33.399
4,Brazil,BRA,AMRO,REPORTING,2023-06-02,513329718.0,188746389,241.499,88.797,171459392,80.664,NaN,2021-01-17,5.0,110382337.0,51.930

In [25]:
# Only include data before 2022-10-23 in world_vaccin_data
world_vaccin_data = world_vaccin_data[(world_vaccin_data['DATE_UPDATED'] <= '2022-10-23')]

In [32]:
world_vaccin_data.head()
# PERSON_BOOSTER_ADD_DOSE_PER100 is the cumulative amount receiving one or more booster doses per 100 population

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Algeria,DZA,AFRO,REPORTING,2022-09-04,15267442.0,7840131,34.817,17.879,6481186,14.780,NaN,2021-01-30,4.0,575651.0,1.313
29,Congo,COG,AFRO,REPORTING,2022-07-31,833210.0,695760,15.100,12.609,654119,11.854,NaN,2021-03-23,4.0,NaN,NaN
32,Greenland,GRL,EURO,OWID,2022-03-14,79738.0,41227,140.453,72.619,38511,67.834,NaN,NaN,1.0,NaN,NaN
47,Ukraine,UKR,EURO,REPORTING,2022-02-27,31668577.0,15774300,72.400,36.237,15153577,34.811,NaN,2021-02-24,6.0,741197.0,1.703
68,Jordan,JOR,EMRO,REPORTING,2022-08-21,10057975.0,4821579,98.577,47.256,4558313,44.676,NaN,2021-01-13,10.0,682211.0,6.686

In [35]:
# Adding new column for total population count based on PERSONS_BOOSTER_ADD_DOSE and PERSONS_BOOSTER_ADD_DOSE_PER100
world_vaccin_data['Total population'] = world_vaccin_data['PERSONS_BOOSTER_ADD_DOSE']/world_vaccin_data['PERSONS_BOOSTER_ADD_DOSE_PER100']*100

In [48]:
world_vaccin_data.head()

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100,Total population
0,Algeria,DZA,AFRO,REPORTING,2022-09-04,15267442.0,7840131,34.817,17.879,6481186,14.780,NaN,2021-01-30,4.0,575651.0,1.313,4.384242e+07
29,Congo,COG,AFRO,REPORTING,2022-07-31,833210.0,695760,15.100,12.609,654119,11.854,NaN,2021-03-23,4.0,NaN,NaN,NaN
32,Greenland,GRL,EURO,OWID,2022-03-14,79738.0,41227,140.453,72.619,38511,67.834,NaN,NaN,1.0,NaN,NaN,NaN
47,Ukraine,UKR,EURO,REPORTING,2022-02-27,31668577.0,15774300,72.400,36.237,15153577,34.811,NaN,2021-02-24,6.0,741197.0,1.703,4.352302e+07
68,Jordan,JOR,EMRO,REPORTING,2022-08-21,10057975.0,4821579,98.577,47.256,4558313,44.676,NaN,2021-01-13,10.0,682211.0,6.686,1.020357e+07

In [49]:
# Groupby PERSONS_BOOSTER_ADD_DOSE by country using max values
world_vaccin_data = world_vaccin_data.groupby('COUNTRY', as_index=False).agg(
    sum_vaccin = pd.NamedAgg('PERSONS_BOOSTER_ADD_DOSE', aggfunc='max'),
    sum_pop = pd.NamedAgg('Total population', aggfunc='max'))

In [50]:
world_vaccu_data.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
31,2020-02-03,AF,Afghanistan,EMRO,0,0,0,0
32,2020-02-04,AF,Afghanistan,EMRO,0,0,0,0
33,2020-02-05,AF,Afghanistan,EMRO,0,0,0,0
34,2020-02-06,AF,Afghanistan,EMRO,0,0,0,0
35,2020-02-07,AF,Afghanistan,EMRO,0,0,0,0