In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import plotly_express as px

In [3]:
# Uppgift 2

vaccinerade = pd.read_excel("visualiseringar\\vaccin.xlsx", sheet_name="Vaccinerade kommun och ålder")

In [4]:
vaccinerade.head()
# vaccinerade.info()

,Län,Län_namn,Kommun,Kommun_namn,Ålder,Befolkning,Antal minst 1 dos,Antal minst 2 doser,Antal 3 doser,Antal 4 doser,Andel minst 1 dos,Andel minst 2 doser,Andel 3 doser,Andel 4 doser
0,1,Stockholms län,114,Upplands Väsby,12-15,2422,1206,1046,NaN,NaN,0.497936,0.431874,NaN,NaN
1,1,Stockholms län,114,Upplands Väsby,16-17,1203,839,755,NaN,NaN,0.697423,0.627598,NaN,NaN
2,1,Stockholms län,114,Upplands Väsby,18-29,6692,4887,4469,1959.0,NaN,0.730275,0.667812,0.292738,NaN
3,1,Stockholms län,114,Upplands Väsby,30-39,7332,5542,5240,2878.0,NaN,0.755865,0.714675,0.392526,NaN
4,1,Stockholms län,114,Upplands Väsby,40-49,6946,5592,5429,3719.0,NaN,0.805068,0.781601,0.535416,NaN

In [5]:
#a)
antal_lan = vaccinerade["Län_namn"].nunique()

print(f"Det finns {antal_lan} län representerade i datasetet")

Det finns 21 län representerade i datasetet

In [6]:
#b)
antal_kommuner = vaccinerade["Kommun_namn"].nunique()

print(f"Det finns {antal_kommuner} kommuner representerade i datasetet")

Det finns 290 kommuner representerade i datasetet

In [7]:
#c)
befolkning = vaccinerade["Befolkning"].sum()

print(f"Det finns {befolkning} människor representerade i datasetet")

Det finns 9092790 människor representerade i datasetet

In [8]:
#d)
befolkning = vaccinerade["Befolkning"].sum()

print(f"Det finns {befolkning} människor representerade i datasetet")

vaccinerade.head()

Det finns 9092790 människor representerade i datasetet

,Län,Län_namn,Kommun,Kommun_namn,Ålder,Befolkning,Antal minst 1 dos,Antal minst 2 doser,Antal 3 doser,Antal 4 doser,Andel minst 1 dos,Andel minst 2 doser,Andel 3 doser,Andel 4 doser
0,1,Stockholms län,114,Upplands Väsby,12-15,2422,1206,1046,NaN,NaN,0.497936,0.431874,NaN,NaN
1,1,Stockholms län,114,Upplands Väsby,16-17,1203,839,755,NaN,NaN,0.697423,0.627598,NaN,NaN
2,1,Stockholms län,114,Upplands Väsby,18-29,6692,4887,4469,1959.0,NaN,0.730275,0.667812,0.292738,NaN
3,1,Stockholms län,114,Upplands Väsby,30-39,7332,5542,5240,2878.0,NaN,0.755865,0.714675,0.392526,NaN
4,1,Stockholms län,114,Upplands Väsby,40-49,6946,5592,5429,3719.0,NaN,0.805068,0.781601,0.535416,NaN

In [20]:
# Utifrån dataset, räknar ut samtliga under 18 (12-17)
befolkning_12_15 = vaccinerade[vaccinerade["Ålder"] == "12-15"]["Befolkning"].sum()
befolkning_16_17 = vaccinerade[vaccinerade["Ålder"] == "16-17"]["Befolkning"].sum()

# Hela befolkningen från datasetet 12 och uppåt.
befolkning_12_upwards = vaccinerade["Befolkning"].sum()

# Hela befolkningen från 0 och uppåt
total_befolkning_2022  = 10_521_556     # https://www.scb.se/hitta-statistik/sverige-i-siffror/manniskorna-i-sverige/sveriges-befolkning/#:~:text=2022%20var%20folkm%C3%A4ngden%20i%20Sverige,fler%20har%20invandrat%20%C3%A4n%20utvandrat.  

# Diff mellan hela befolkningen och datasetets befolkning på 12 och uppåt ger oss befolkning från ålder 0 - 11
befolkning_0_11 = total_befolkning_2022 - befolkning_12_upwards

# Totala antal under 18 fås genom att summera delarna
befolkning_under_18 = befolkning_0_11 + befolkning_12_15 + befolkning_16_17


print(f"Utifrån detta dataset och Sveriges totala befolkning 2022 så är {befolkning_under_18:,} individer under 18 år")

Utifrån detta dataset och Sveriges totala befolkning 2022 så är 2,174,136 individer under 18 år